body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 24);
    min-height: 100vh; 
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #0ceb7c;

}


.hero {
    background-image: url('fiverr.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;

}

.btn {
    text-align: left;
   /* display: inline-block; */
   /* align-items: left;*/ 
    background-color: #FF5733;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flexbox; 
   margin: 0 auto;
   text-align: center ; 

}

.btn-container {
    text-align: left; /* Align button to the left side */
}

.btn:hover {
    background-color: #FF7F50;
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Adjust header navigation for small screens */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

/* Adjust padding for smaller screens in hero section */
@media screen and (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .btn {
        padding: 8px 16px;
    }
}



.card img
{
    width: 170px;
    height: 200px;

}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0; 
    width: 100%; 
}